@keyframes slide
{
    0% { content: 0; }
    100% { content: 1000; }
}

body {
    opacity: 0;
}

#colorRange {
    width: 40px;
    margin-top: 4px;
    height: 80%;
    border: 1px solid #000000;
}

h1 {
    margin: 0;
    font-family: Arial, sans-serif;
}

h2 {
    font-family: Arial, sans-serif;
    color: #843c2e;
}

h3 {
    font-family: Arial, sans-serif;
    color: #fe9a60;
}

.row {
    display: flex;
}

.colorRangeContainer {
    flex: 10%;
    z-index: 1000;
    position: relative;
}

#Ukraine, #North_Macedonia, #Bulgaria, #Lithuania, #Latvia, #Estonia, #Greece, #Cyprus, #Turkey, #Croatia, #Romania, #Serbia, #Finland, #Slovakia, #Luxembourg, #Norway, #Slovenia, #Czech_Republic, #Portugal, #Poland, #Spain, #Italy, #Hungary, #Switzerland, #France, #Germany, #The_Netherlands, #Belgium, #Sweden, #Ireland, #Bosnia_and_Herzegovina, #Iceland, #Moldova, #Malta, #Austria, #Belarus, #Albania, #Kosovo, #Montenegro, #Russia, #United_Kingdom, #Danish_Kingdom, #Yugoslavia1, #Yugoslavia2, #Yugoslavia3, #Yugoslavia4, #Czechoslovakia, #USSR1, #USSR2 {
    cursor: pointer;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
}

#Ukraine:hover, #North_Macedonia:hover, #Bulgaria:hover, #Lithuania:hover, #Latvia:hover, #Estonia:hover, #Greece:hover, #Cyprus:hover, #Turkey:hover, #Croatia:hover, #Romania:hover, #Serbia:hover, #Finland:hover, #Slovakia:hover, #Luxembourg:hover, #Norway:hover, #Slovenia:hover, #Czech_Republic:hover, #Portugal:hover, #Poland:hover, #Spain:hover, #Italy:hover, #Hungary:hover, #Switzerland:hover, #France:hover, #Germany:hover, #The_Netherlands:hover, #Belgium:hover, #Sweden:hover, #Ireland:hover, #Bosnia_and_Herzegovina:hover, #Iceland:hover, #Moldova:hover, #Malta:hover, #Austria:hover, #Belarus:hover, #Albania:hover, #Kosovo:hover, #Montenegro:hover, #Russia:hover, #United_Kingdom:hover, #Danish_Kingdom:hover, #Yugoslavia1:hover, #Yugoslavia2:hover, #Yugoslavia3:hover, #Yugoslavia4:hover, #Czechoslovakia:hover, #USSR1:hover, #USSR2:hover {
    fill: #606060/*rgb(0, 77, 152)*/;
}

#colorRangeDesc0 {
    position: absolute;
    top: -20px;
    left: 50px;
}

#colorRangeDesc1 {
    position: absolute;
    bottom: calc(20% - 30px);
    left: 50px;
}

.column {
    flex: 50%;
    z-index: 1000;
}

footer {
    margin: 28px 20px 20px 20px;
}

.mapContainer {
    position: relative;
    text-align: center;
    color: #A0A0A0;
    font-family: Arial, sans-serif;
    font-size: 16pt;
}

#dateIndicator {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 100;
}

#timeline {
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    margin: -140px 0 0 0;
    -webkit-appearance: none;
    width: 100%;
    height: 150px;
    border-radius: 0px;
    outline: none;
    background-image: url(timelinePlot.svg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: calc(100% - 36px) 100%;
}

#timeline::-webkit-slider-thumb {
    margin: 140px 0 0 0;
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fe9a60;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: background .2s;
}

#timeline::-moz-range-thumb {
    margin: 140px 0 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fe9a60;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: background .2s;
}

#timeline::-webkit-slider-thumb:hover {
    background: #843c2e;
}

#timeline::-moz-range-thumb:hover {
    background: #843c2e;
}
